.dictionary-container {
    .dictionary-items {
        width: 100%;

        tbody {
            tr:nth-child(even) {
                background-color: #DDD;
            }

            input {
                width: 90%;
            }
        }
    }
}
