@import "../common/_mixins.scss";

.user-container, .user-details {
    align-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: 0;
}

.user-details {
    img {
        // display: inline-block;
        border-radius: 100%;
        max-width: 50px;
    }

    p, button {
        display: block;
        @include centerHorizontal();
    }
}
