@import "./common/_common.scss";
@import "./common/_mixins.scss";

* {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    word-break: keep-all;
}

html {
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body, html, header, main, #root {
    background-color: $backgroundWhite;
    margin: 0px;
}

h3 {
    text-align: center;
}

b {
    font-weight: bold !important;
}

a {
    color: $wordGoblinBlue;
    &:hover {
        text-decoration: underline;
    }
    text-decoration: none;
}

// Remove dotted line for Firefox browser
:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.App {
    min-height: 100vh;

    main {
        align-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        max-width: $breakpointTablet;
        min-height: 100vh;
        @include centerHorizontal();

        section {
            width: 100%;
            margin: {
                bottom: 40px;
                top: 60px;
            }
        }
    }
}
