// Fonts
// $primaryFontFamily: "Sniglet";

$wordGoblinBlue: #0080FF;
$wordGoblinGold: #FFC404;
$backgroundWhite: #EFEFEF;

// Font Sizes
$belliwheelFontSize: 3.5em;
$megaFontSize: 2.5em;
$jumboFontSize: 2em;
$bigFontSize: 1.75em;
$headFontSize: 1.5em;
$subheadFontSize: 1.25em;
$calloutFontSize: 1.125em;
$copyFontSize: 1em;

$cardBorderRadius: 1.5em;
$buttonBorderRadius: 0.5em;

// Header Sizes
$headerHeight: 60px;
$containerOffsetHeight: 100px;

// Size Breakpoints
$breakpointDesktop: 1024px;
$breakpointTablet: 959px;
$breakpointPhone: 599px;
$breakpointMini: 450px;
